---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% comment %} Sort categories by post count (descending) {% endcomment %}
{% assign sort_categories = site.categories | sort_by_post_count %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}
  {% assign first_post = posts_of_category | first %}

  {% if category_name == first_post.categories[0] %}
    {% assign sub_categories = '' | split: '' %}
    {% assign top_posts = '' | split: '' %}

    {% for post in posts_of_category %}
      {% assign second_category = post.categories[1] %}

      {% if second_category %}
        {% unless sub_categories contains second_category %}
          {% assign sub_categories = sub_categories | push: second_category %}
        {% endunless %}
      {% else %}
        {% assign top_posts = top_posts | push: post %}
      {% endif %}
    {% endfor %}

    {% assign sub_categories = sub_categories | sort %}
    {% assign sub_categories_size = sub_categories | size %}

    {% assign ordered_top = '' | split: '' %}
    {% assign unordered_top = '' | split: '' %}
    {% for p in top_posts %}
      {% if p.order != nil %}
        {% assign ordered_top = ordered_top | push: p %}
      {% else %}
        {% assign unordered_top = unordered_top | push: p %}
      {% endif %}
    {% endfor %}
    {% assign ordered_top = ordered_top | sort: "order" %}
    {% assign unordered_top = unordered_top | sort: "date" %}
    {% assign top_posts = ordered_top | concat: unordered_top %}

    {% assign top_posts_size = top_posts | size %}
    {% assign total_items = sub_categories_size | plus: top_posts_size %}

    <div class="card categories">
      <!-- top-category -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder{% if total_items > 0 %}-open{% endif %} fa-fw"></i>

          {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name }}</a>

          <!-- content count -->
          {% assign top_posts_size = site.categories[category_name] | size %}
          <span class="text-muted small font-weight-light">
            {% if sub_categories_size > 0 %}
              {{ sub_categories_size }}
              {% if sub_categories_size > 1 %}
                {{ site.data.locales[lang].categories.category_measure.plural | default: site.data.locales[lang].categories.category_measure }}
              {% else %}
                {{ site.data.locales[lang].categories.category_measure.singular | default: site.data.locales[lang].categories.category_measure }}
              {% endif -%}
              ,
            {% endif %}

            {{ top_posts_size }}
            {% if top_posts_size > 1 %}
              {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
            {% else %}
              {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
            {% endif %}
          </span>
        </span>

        <!-- arrow -->
        {% if total_items > 0 %}
          <a
            href="#{{ LIST_PREFIX }}{{ group_index }}"
            data-bs-toggle="collapse"
            aria-expanded="true"
            aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
            class="category-trigger hide-border-bottom"
          >
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        {% else %}
          <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
            <i class="fas fa-fw fa-angle-right"></i>
          </span>
        {% endif %}
      </div>
      <!-- .card-header -->

      <!-- Sub-categories and Posts -->
      {% if total_items > 0 %}
        <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
          <ul class="list-group">
            {% for sub_category in sub_categories %}
              {% assign sub_group_index = group_index | append: "_" | append: forloop.index %}
              <li class="list-group-item">
                <div class="d-flex justify-content-between w-100">
                  <span>
                    <i class="far fa-folder fa-fw"></i>
                    {% capture _sub_ctg_url %}/categories/{{ sub_category | slugify | url_encode }}/{% endcapture %}
                    <a href="{{ _sub_ctg_url | relative_url }}" class="mx-2">{{ sub_category }}</a>
                    {% assign sub_posts = '' | split: '' %}
                    {% for post in posts_of_category %}
                      {% if post.categories[1] == sub_category %}
                        {% assign sub_posts = sub_posts | push: post %}
                      {% endif %}
                    {% endfor %}

                    {% assign ordered_sub = '' | split: '' %}
                    {% assign unordered_sub = '' | split: '' %}
                    {% for p in sub_posts %}
                      {% if p.order != nil %}
                        {% assign ordered_sub = ordered_sub | push: p %}
                      {% else %}
                        {% assign unordered_sub = unordered_sub | push: p %}
                      {% endif %}
                    {% endfor %}
                    {% assign ordered_sub = ordered_sub | sort: "order" %}
                    {% assign unordered_sub = unordered_sub | sort: "date" %}
                    {% assign sub_posts = ordered_sub | concat: unordered_sub %}

                    {% assign posts_size = sub_posts | size %}
                    <span class="text-muted small font-weight-light">
                      {{ posts_size }}
                      {% if posts_size > 1 %}
                        {{ site.data.locales[lang].categories.post_measure.plural | default: site.data.locales[lang].categories.post_measure }}
                      {% else %}
                        {{ site.data.locales[lang].categories.post_measure.singular | default: site.data.locales[lang].categories.post_measure }}
                      {% endif %}
                    </span>
                  </span>
                  {% if posts_size > 0 %}
                    <a href="#sub_{{ sub_group_index }}" data-bs-toggle="collapse" aria-expanded="false" class="category-trigger text-muted" style="border: none; background: none; padding: 0;">
                      <i class="fas fa-fw fa-angle-down"></i>
                    </a>
                  {% endif %}
                </div>
                {% if posts_size > 0 %}
                  <div id="sub_{{ sub_group_index }}" class="collapse" aria-expanded="false">
                    <ul class="list-group mt-2 mb-1" style="border-left: 2px solid #eee; margin-left: 0.5rem; padding-left: 0.5rem;">
                      {% for post in sub_posts %}
                        <li class="list-group-item" style="border: none; padding: 0.3rem 0;">
                          <i class="far fa-file-alt fa-fw text-muted"></i>
                          <a href="{{ post.url | relative_url }}" class="mx-2">{{ post.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}

            {% for post in top_posts %}
              <li class="list-group-item">
                <i class="far fa-file-alt fa-fw text-muted"></i>
                <a href="{{ post.url | relative_url }}" class="mx-2">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}
  {% endif %}
{% endfor %}
